{% extends 'frappe/templates/includes/navbar/navbar_items.html' %}

{% block navbar_right_extension %}
	<!-- Sepet İkonu -->
	<li class="shopping-cart cart-icon hidden">
		<a class="nav-link" href="/cart">
			<svg class="icon icon-lg">
				<use href="#icon-assets"></use>
			</svg>
			<span class="badge badge-primary shopping-badge" id="cart-count"></span>
		</a>
	</li>
	
	<!-- Wishlist İkonu -->
	{% if frappe.db.get_single_value("Webshop Settings", "enable_wishlist") %}
		<li class="wishlist wishlist-icon hidden">
			<a class="nav-link" href="/wishlist">
				<svg class="icon icon-lg">
					<use href="#icon-heart"></use>
				</svg>
				<span class="badge badge-primary shopping-badge" id="wish-count"></span>
			</a>
		</li>
	{% endif %}
	
	<!-- Dil Seçici - Sepet ile Hesap arasında -->
	{% if show_language_picker %}
		<li class="nav-item dropdown" id="language-picker-nav">
			<a class="nav-link dropdown-toggle" href="#" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
				🌐 {{ frappe.lang|upper }}
			</a>
			<div class="dropdown-menu dropdown-menu-right">
				<a class="dropdown-item" href="?_lang=tr">Türkçe</a>
				<a class="dropdown-item" href="?_lang=en">English</a>
				<a class="dropdown-item" href="?_lang=de">Deutsch</a>
				<a class="dropdown-item" href="?_lang=fr">Français</a>
				<a class="dropdown-item" href="?_lang=it">Italiano</a>
			</div>
		</li>
	{% endif %}
{% endblock %}
